---
---

@charset "UTF-8";
@import "typography";
@import "colors";

/* body {
    outline: red solid;
}

article {
    outline: green solid;
}

#content, #posts {
    outline: blue solid;
}

img {
    outline: yellow solid;
} */

/* GLOBAL RESETS */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%;
    quotes:"\201C" "\201D"
}

body {
    font-size: 17px;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

a, 
a:active, 
a:visited {
    text-decoration: none
}

footer {
    font-size: 1em;
    margin: 2em 0;
    overflow: hidden;
    text-align: center
}

footer p {
    margin: 0.5em
}

.printonly {
    display: none;
}

/* MASTHEAD */

#masthead {
    width: 600px;
    padding-top: 0;
    margin-top: 0.5em;
    font-size: 1.4em;
}
#mastheadtext {
    font-size: 1em
}
#masthead h1 {
    font-size: 1.5em;
    margin-top: 0;
    padding-top: 0.05em;
    margin-bottom: 0.05em
}

#masthead p { 
    margin: 0;
    padding: 0;
}

/* POSTS */ 

article {
    display: block;
    line-height: 1.5em;
    margin-top: 1.5em
}

article header p { 
    margin: 0
}
article header a { 
    text-decoration: none
}
#content, #posts {
    position: relative;
    display: block;
    width: 650px;
    margin: 0 auto
}

/* POSTS - TITLE */ 

h2 {
    margin-bottom: 0;
    line-height: 1.5em;
    font-weight: 600
}

h2 a, 
h2 a:active, 
h2 a:visited {
    text-decoration: none
}

/* POSTS - EXTERNAL LINKS */

h2 a.link, 
h2 a:active.link, 
h2 a:visited.link {
    text-decoration: underline;
}

/* POSTS - CONTENT */

h3 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 1em 0 1em
}

b, 
strong {
    font-weight: 600
}

blockquote {
    margin: 0 18px 18px 18px;
    color: #666;
    padding-left: 10px;
    border-left: 4px solid #eee
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

pre, 
code {
    overflow: auto;
}

/* Responsive design stuff */ 

@media (max-width: 780px) {
    #content, #posts {
        width: calc(100vw - 40px)
    }

    #masthead {
        height: 90px
    }
}

@media (max-width: 560px) {
    body {
        font-size: 1em
    }

    #masthead {
        width: 100%;
        font-size: 1em
    }

    #masthead h1 {
        padding-top: 0.50em;
        font-size: 1.5em
    }

    #masthead {
        height: 70px
    }
}

@media (max-width: 360px) {
    #masthead {
        font-size: 0.9em
    }

    pre, 
    code {
        font-size: 5px
    }
}

@media print {
    a {
        color: #888
    }

    #masthead {
        color: #888
    }

    .noprint {
        display: none
    }

    .printonly {
        display: inline
    }

    #masthead {
        width: 100%;
        height: auto
    }

    #masthead h1 {
        margin: 0;
        font-size: 1.5em;
        color: #444
    }

    #mastheadtext {
        font-size: 10pt;
    }

    body {
        width: auto;
        max-width: 125em;
        padding: 0;
        margin: 0 auto;
        color: #000;
        border: 0
    }

    #content, #posts {
        position: static;
        margin: 0;
        width: 100%
    }

    article {
        margin-top: 2em
    }
}
