@import "photon-colors";

$gray: #888;
$grey: #656D78;
$green: #26820f;
$black: #000000;
$black-grey: #1A1D20;
$neven-purple: #8367c9;
$navy-blue: #244C65;
$light-gray: #738B99;
$sublime-gray: #323a43;
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$bg-color-dark: #222228;
$bg-color-oil: #5C666F;
$bg-color-gray: #E3E5E7;
$bg-color-light: #F5F7F9;
$text-01: #152934;
$text-02: #5a6872;
$inverse-01: #ffffff;
$slate: #172B4D;
$blue: #0052CC;
$field-01: rgba(60,112,178,0.10);
$support-01: #FF3E00;
$support-02: #7ED321;
$support-03: #F0CC00;
$support-04: #44C7F4;
$nav-01: #1b2834;
$nav-02: #1c496d;
