<p>
  <a
    href="https://bookshop.org/p/books/puerto-rico-a-national-history-jorell-melendez-badillo/20090635"
    id="pr-link"
  ></a>
</p>
<p>
  <a
    href="https://bookshop.org/p/books/the-hundred-years-war-on-palestine-a-history-of-settler-colonialism-and-resistance-1917-2017-rashid-khalidi/230482"
    id="ps-link"
  ></a>
</p>

<a class="internal-link" href="/colophon">Colophon</a>

<script>
  const now = new Date();
  const currentYear = now.getFullYear();

  // Puerto Rico (1898-07-25)
  const prDate = new Date("1898-07-25");
  const prYearsElapsed = currentYear - prDate.getFullYear();
  document.getElementById("pr-link").textContent =
    `${prYearsElapsed} years since the US invaded Puerto Rico.`;

  // Palestine (1948-05-15)
  const psDate = new Date("1948-05-15");
  const psYearsElapsed = currentYear - psDate.getFullYear();
  document.getElementById("ps-link").textContent =
    `${psYearsElapsed} years since the Nakba.`;
</script>
<p>
  ¡Que viva Puerto Rico libre! ¡Que viva Palestina libre desde el río hasta el
  mar!
</p>
