<!DOCTYPE html>
<html lang="es">
<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="programador de ios, programador, developer">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="alternate" type="application/json" href="/feed.json">
  <link rel="canonical" href="/matricula/es/">
  <link rel="alternate" hreflang="en" href="/matricula/">

  <script src="/assets/js/jquery-2.2.4.min.js"></script>
  <script src="/assets/js/bigfoot.min.js"></script>
  <script>$.bigfoot();</script>
  <script src="/assets/js/clipboard.min.js"></script>
  
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#182536">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/images/apple-touch-icon-precomposed.png">

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="fb:app_id" content="361878010839981" />
  <meta property="og:url" content="{{site.url}}{{ page.url }}/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{{ site.url }}/assets/images/hero.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="576" />
  <meta property="og:description" content="{{ site.description }}" />
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@georgeperez" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/images/hero.png" />
</head>
