<div id="mastheadbg">&nbsp;</div>
  <section id="posts">
    <div id="masthead">
      <h1><a href="/">George Perez-Marrero</a></h1>
        <div>
          <p id="description">
            {{ site.description }}
          </p>
          <nav>
            <a href="/about">About</a>
            &bull;
            <a href="https://github.com/georgeperez/">GitHub</a>
            &bull;
            <a href="https://twitter.com/georgeperez">Twitter</a>
            &bull;
            <a href="mailto:{{ site.email }}">Email</a>
          </nav>
        </div>
    </div><!--masthead-->