$apple-gray: #f2f2f2;
$white: #ffffff;
$gray: #888;
$grey: #656D78;
$green: #26820f;
$black: #000000;
$black-grey: #1A1D20;
$apple-blue: rgb(0,122,255);
$neven-purple: #8367c9;

body {
    background-color: $white;
    color: $grey;
}

a, 
a:active, 
a:visited {
    color: $black-grey;
}

a:hover {
    color: $grey
}

blockquote {
    color: $apple-gray;
    background: $grey;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: $black-grey
}

.btn {
    color: $white;
    background-color: $grey;
    border-radius: 10px;
    box-shadow: 0 5px $black-grey;

    &:hover {
        background-color: $grey
    }

    &:active {
        background-color: $grey;
        box-shadow: 0 5px $black-grey;
    }
}

footer {
    color: $grey;
    border-top: 1px solid $grey;
}

.noprint {
    color: $black-grey
}

.masthead {
    color: $black-grey
}

.masthead {
    h1 a,
    h1 a:active,
    h1 a:visited {
        color: $black-grey;
        text-decoration: none;
    }

    h1 a:hover {
        color: $grey
    }
}

.masthead-text {
    color: $grey;
}

article header { 
    color: $black-grey
}

h2 {
    a {
        &:active, &:visited {
            color: $black-grey;
        }

        &:hover {
            color: $grey;
        }

        &.link, &:active.link, &:visited.link {
            color: $black-grey;
        }

        &:hover.link {
            color: $grey
        }
    }
}

code {
    color: $green;
}

pre {
    color: $apple-gray;
    background: $black;
}

@media print {
    .masthead a, 
    .masthead a:active, 
    .masthead a:visited, 
    .masthead h1 a, 
    .masthead h1 a:active, 
    .masthead h1 a:visited, 
    a, 
    a:active, 
    a:visted {
        color: $black
    }
}

