
@import "variables";

body {
	color: $text-01;
    background-color: $apple-gray;
}

a,
a:active,
a:visited {
    color: $black;
}

a:hover {
    color: $grey
}

section#content,
footer#contentinfo {
    background-color: $white
}

#banner {
    background-color: $sublime-gray;
}

#banner a.site-name {
    color: $white;
}

#menu,
#menu li ul {
    background-color: $black-grey;
}

#menu a,
#menu a:link,
#menu a:visited {
    color: $white;
    border-color: $black-grey;
}

#menu a:hover {
    color: $white;
    background-color: $black-grey;
}

#menu a:hover {
    border-color: $black-grey
}

blockquote.warning {
    color: $apple-gray;
    background: $grey;
}

blockquote {
    color: $black;
    background: $apple-gray;
    border-left: .25em solid $light-gray;
    margin: 1em;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-grey
}

button.btn {
    color: $white;
    background-color: $blue;

    &:hover, &:focus {
        background-color: #5596e6;
    }
}

.no-print {
    color: $grey
}

article header {
    color: $grey
}

h2 {
    a {
        &:active, &:visited {
            color: $black-grey;
        }

        &:hover {
            color: $grey;
        }

        &.link, &:active.link, &:visited.link {
            color: $black-grey;
        }

        &:hover.link {
            color: $grey
        }
    }
}

code {
    color: $navy-blue;
}

pre.code-snippet {
    color: $apple-gray;
    background: $black;
}
