@media (prefers-color-scheme: dark) {
  body {
    color: var(--uchu-yang);
    background-color: var(--uchu-yin);
  }

  blockquote {
    background: var(--uchu-gray-9);
  }

  a {
    color: var(--uchu-orange-5);
    &:hover {
      color: var(--uchu-orange-4) !important;
    }
  }

  nav {
    a {
      color: var(--uchu-yang);

      &:hover {
        color: var(--uchu-orange-5) !important;
      }
    }
  }

  img {
    border: 1px solid var(--uchu-yang);
  }

  code {
    background: var(--uchu-gray-9);
  }

  .code-snippet {
    background-color: var(--uchu-blue-9);
    color: var(--uchu-yang)
  }
}
