@font-face {
    font-family: 'IBM Plex Mono';
    src: url('/assets/fonts/IBMPlexMono-Regular.eot');
    src: url('/assets/fonts/IBMPlexMono-Regular-Pi.woff');
    src: url('/assets/fonts/IBMPlexMono-Regular-Pi.woff2')
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url ('/assets/fonts/IBMPlexSerif-Regular-Pi.woff');
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/assets/fonts/IBMPlexSans-Regular.eot');
    src: url('/assets/fonts/IBMPlexSans-Text.eot');
    src: url('/assets/fonts/IBMPlexSans-TextItalic.eot');
    src: url('/assets/fonts/IBMPlexSans-Italic.eot');
    src: url('/assets/fonts/IBMPlexSans-Medium.eot');
    src: url('/assets/fonts/IBMPlexSans-MediumItalic.eot');
}