/* @font-face {
  font-family: 'Inclusive Sans Variable';
	src: url('assets/fonts/InclusiveSans-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-weight: 300 700;
} */

$font-family:
  Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
  system-ui, sans-serif;
$mono-font-family:
  ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
  "DejaVu Sans Mono", monospace;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.5;
  padding: 4vh 6vw;
  overflow-x: hidden;
  font-size: 1rem;
  max-width: 63em;
  font-variation-settings:
    "wght" 400,
    "wdth" 100;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.wrapper {
  max-width: 56em;

  @media (min-width: 441px) {
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
  }
  @media (max-width: 440px) {
    font-size: 1.3rem;
    line-height: 1.5;
    font-variation-settings:
      "wght" 400,
      "wdth" 100;
  }
}

b,
strong {
  font-variation-settings:
    "wght" 700,
    "wdth" 100;
}

time {
  display: block;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
}

img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: 4px;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  border-radius: 4px;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 0;
  font-variation-settings:
    "wght" 500,
    "wdth" 50;
}

a:not(#next):not(#prev):not(#close):not(.internal-link):not(.footnote):not(
    .reversefootnote
  ):not([href^="#"]):not([href^="/"]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
  background-position: right 67%;
  background-repeat: no-repeat;
  background-size: 0.7em;
  padding-right: 0.75em;
}

a {
  text-decoration: underline;

  &.footnote {
    text-decoration: none;
    font-size: 1.1em;

    &:before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}

nav {
  margin: 1em 0 2em;

  a {
    text-decoration: none;
  }
}

.notice {
  text-align: center;
}

.blog-list {
  list-style-type: none;
  padding-left: 0;
}

.notes-entry-container {
  display: grid;
  grid-template-areas: "content";

  @media (min-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
  @media (max-width: 440px) {
    font-size: 1.1rem;
    line-height: 1.5;
    font-variation-settings:
      "wght" 400,
      "wdth" 100;
  }
}

pre.code-snippet {
  font-family: $mono-font-family;
  font-size: 0.8em;
  border-radius: 0.5em;
  padding: 1em;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1em;
}

pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  font-family: $mono-font-family;
  overflow: auto;
  font-size: 0.8em;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}
