$color-primary: hsl(0, 0%, 10%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: neue-haas-grotesk-text, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

body {
  box-sizing: content-box;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: var(--flexoki-950);
  background-color: var(--flexoki-paper);
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.wrapper {
  max-width: 46em;
}

article {
  line-height: 1.5;
  font-variation-settings: "wdth" 88;
}

time {
  display: block;
  color: var(--flexoki-600);
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: var(--flexoki-600);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: var(--flexoki-50);
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: var(--flexoki-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid var(--flexoki-100);
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #fffaf1;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--flexoki-black);
    color: var(--flexoki-200);
  }

  time {
    color: var(--flexoki-500);
  }

  footer {
    color: var(--flexoki-500);
  }

  blockquote {
    background: var(--flexoki-900);
  }

  hr {
    background: var(--flexoki-600);
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid var(--flexoki-600);
    color: var(--flexoki-paper);
  }
  a:hover {
    color: var(--flexoki-black) !important;
    background: var(--flexoki-paper);
  }
  a:after {
    content: "↗";
    color: var(--flexoki-paper);
  }
  a.internal-link:after,
  a.footnote:after,
  a.reversefootnote:after {
    content: "";
  }

  *:focus {
    background: var(--flexoki-yellow-100) !important;
    color: var(--flexoki-black) !important;
  }

  .backlink-box {
    background: var(--flexoki-900);
  }

  code {
    background: var(--flexoki-50);
  }

  .invalid-link {
    color: var(--flexoki-700);
    background: var(--flexoki-50);
  }

  .invalid-link-brackets {
    color: var(--flexoki-300);
  }
  content a.internal-link {
    border-color: $color-border;
    background-color: var(--flexoki-black);
  }

  content a.internal-link::after,
  content a.internal-link:hover {
    border-color: var(--flexoki-black);
    color: var(--flexoki-paper);
    background-color: var(--flexoki-paper);
  }
}
