$apple-gray: #f2f2f2;
$white: #ffffff;
$gray: #888;
$grey: #656D78;
$green: #26820f;
$black: #000000;
$black-grey: #1A1D20;
$apple-blue: rgb(0,122,255);
$neven-purple: #8367c9;
$navy-blue: #244C65;
$light-gray: #738B99;
$sublime-gray: #323a43;
$ui-02: #f5f7fa;
$ui-03: #f0f3f6;
$ui-04: #dfe3e6;
$ui-05: #8c9ba5;
$text-01: #152934;
$text-02: #5a6872;
$text-03: #5a6872;
$blue: #3d70b2;
