---
---

@charset "UTF-8";
@import "typography";
@import "colors";

/* body {
	outline: red solid;
}

article {
	outline: green solid;
}

.content {
	outline: blue solid;
}

.container {
	outline: purple solid;
}

img {
	outline: yellow solid;
}

html {
	outline: pink solid;
} */

header,
section,
footer,
aside,
nav,
article,
figure {
	display: block;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

.print-only {
	display: none;
}

blockquote,
pre,
pre *,
code,
code * {
	font-size: 95%
}

ul,
ol {
	padding-left: 2em
}

canvas,
img,
video {
	border-style: none;
	max-width: 100%
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	text-rendering: optimizeLegibility
}

#banner,
#menu,
#contentinfo,
#content {
	max-width: 55em;
	margin: 0 auto;
	clear: both;
	overflow: auto;
}

#banner {
	max-width: 51em;
	min-width: 16em;
	height: 3em;
	margin-top: .5em;
	padding: 1em 2em;
	vertical-align: top
}

#banner a.site-name {
	font-size: 2.1em;
	text-decoration: none;
	float: left;
	font-weight: bold
}

#menu ul {
	list-style-type: none;
	padding: 0;
	height: 2em;
	font-size: 1.25em;
	margin-bottom: 0;
	margin-top: 0;
	padding-bottom: 2px
}

#menu li {
	float: left;
	padding: 0;
	margin: 0
}

#menu a,
#menu a:link,
#menu a:visited,
#menu a:hover {
	display: block;
	text-align: left;
	line-height: 2em;
	padding-left: 2em;
	padding-right: 2em;
	text-decoration: none;
}

#post-list {
	list-style: none
}

footer {
	font-size: 1em;
	margin: 2em 0;
	overflow: hidden;
	text-align: center;

	p {
		margin: 0.5em
	}
}

.btn {
	padding: 10px 15px;
	font-size: 17px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	margin: auto;
	display: block;
	margin-top: 0.5em;
	border-radius: 10px;

	&:active {
		transform: translateY(2px);
	}
}

article {
	margin-bottom: 1.5em;

	header {

		a {
			text-decoration: none;
		}

		p {
			margin: 0;
		}
	}
}

#content {
	max-width: 50em;
	min-width: 15em;
	padding: 1.5em 2.5em
}

p,
blockquote,
hr,
ul,
ol,
li {
	margin-bottom: .75em;
	margin-top: .75em
}

hr {
	width: 25%;
	margin-left: auto;
	margin-right: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
    margin-top: .5em
}

h2 {
	margin-bottom: 0;
	line-height: 1.5em;
	font-weight: 600;

	a {
		&:active, &:visited {
			text-decoration: none;
		}

		&.link, &:active.link, &:visited.link {
			text-decoration: underline;
		}
	}
}

h3 {
	font-size: 1.25em;
	font-weight: 500;
	margin: 1em 0 1em
}

h4 {
	font-size: 1em; 
	margin: 0
}

b, 
strong {
	font-weight: 700
}

blockquote.warning {
	margin: 1em;
	padding: 1em;
	border-left: 8px solid $black-grey;
	/* border-top: 4px solid $black-grey;
	border-bottom: 4px solid $black-grey; */
	border-radius: 0.3em;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 1rem;
	display: block;
	border-radius: 3px;
	border: 1px solid;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.right {
	display: block;
	float: right;
	margin: 1em
}

.left {
	display: block;
	float: left;
	margin: 1em
}

a:hover img, a:focus img {
	opacity: 0.8
}

.portrait {
	max-width: 100%;
	height: auto;
	margin: 0 0 1rem;
	display: block;
	border: none;
	border-radius: none
}

pre.code-snippet {
	border-radius: 0.5em;
	padding: 1em;
	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
}

pre {
	overflow: auto;
	word-wrap: break-word;
	white-space: pre-wrap;
}

code {
	overflow: auto;
}

#contentinfo {
	padding: 1em 0;
	text-align: center;
	margin-bottom: 1em
}

#contentinfo p {
	font-size: 80%
}

.entry-title a {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none
}

.post-info {
    font-size: .9em;
    margin-top: .5em;
    margin-bottom: .5em
}

.published {
    border-style: none
}

@media(max-width:55em) {
	#banner,
	#contentinfo {
		margin: 0
	}
}

@media(max-width:550px) {
	#menu a,
	#menu a:link,
	#menu a:visited,
	#menu a:hover {
		padding: 0 17px;
		width: auto
	}
	#menu li {
		width: auto
	}
	#banner,
	#contentinfo {
		padding: 17px;
		margin: 0
	}
	#content {
		padding: 0 17px
	}
}

@media(max-width:350px) {
	#banner a.site-name {
		font-size: 1.4em
	}
	#banner {
		height: 2em
	}
}

/* Bigfoot.js CSS */

@import "bigfoot-default";

/* Syntax CSS */
@import "syntax";
