/* GLOBAL RESETS */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(22,22,21);
  border-top: 3px solid #4a525a;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', sans-serif;
  font-size: 1.135em;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a, 
a:active, 
a:visited {
  color: rgb(253,129,5);
  text-decoration: none
}
a:hover {
  color: rgb(253,129,5);
}
p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: rgb(254,255,255)
}
 
article {
  display: block;
  line-height: 1.5;
  margin-top: 1.5em
}
article header { 
  color: rgb(254,255,255)
}
article header p { 
  margin: 0
}
article header a { 
  text-decoration: none
}
section#container {
  position: relative;
  display: block;
  width: 450px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  line-height: 1.25;
  font-weight: 500;
}

h2 a, 
h2 a:active, 
h2 a:visited {
  color: rgb(254,255,255);
  text-decoration: none;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto
}

/* Responsive design stuff */ 

@media (max-width: 680px) {
  section#container {
    width: calc(100vw - 30px);
  }
}
@media (max-width: 520px) {
  body {
    font-size: 1em;
  }
}
@media (max-width: 360px) {

}
@media print {
  a {
    color: #888;
  }

  body {
    width: auto;
    max-width: 125em;
    padding: 0;
    margin: 0 auto;
    color: rgb(254,255,255);
    border: 0
  }

  section#container {
    position: static;
    margin: 0;
    width: 100%
  }

  article {
    margin-top: 2em
  }

  a, 
  a:active, 
  a:visted {
    color: #0000000
  }

}
