/* START HOME */ 

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', -apple-system, 'BlinkMacSystemFont', 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%
}
#mastheadbg {
  height: 145px;
  background-color: #2e3338;
  margin-bottom: -145px;
}
a, a:active, a:visited {
  color: #06477c;
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}
.printonly {
  display: none
}

/* SITE TITLE */

#masthead {
  width: 500px;
  padding-top: 0;
  margin-top: 0;
  font-size: 0.9em;
  color: #ffffff;
}
#masthead h1 {
  font-weight: normal;
  font-size: 2em;
  margin-top: 0;
  padding-top: 0.5em;
  margin-bottom: 0.25em;
}
#masthead a, #masthead a:active, #masthead a:visited { 
  color: #ffffff
}
#masthead h1 a, #masthead h1 a:active, #masthead h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}
#masthead p { 
  margin: 0;
  padding: 0; 
}
#masthead nav { 
  display: block;
  margin: 0;
  padding: 1em 0;
  color: #4a525a;
}

/* POSTS */ 

article {
  display: block;
  line-height: 1.6;
  margin-top: 3em
}
article header { 
  color: #888
}
article header p { 
  margin: 0
}
article header a { 
  text-decoration: none
}
footer {
  font-size: 14px;
  margin: 2em 0;
  color: #888;
  border-top: 1px solid #2e3338;
  overflow: hidden;
  text-align: center
}
footer a {
  color: #06477c;
  text-decoration: none;
}
footer p {
  margin: 0.5em;
}
section#posts {
  position: relative;
  display: block;
  width: 620px;
  margin: 0 auto;
}
.divider {
  border-top: 1px solid;
  border-color: #cccccc;
  margin: 2.5em;
}

/* POSTS - TITLE */ 

h2 {
  font-size: 1.5em;
  margin-bottom: 0;
  line-height: 1.25;
  font-weight: 500;
}
h2 a, h2 a:active, h2 a:visited {
  color: #000000;
  text-decoration: none;
}

/* LINK POSTS */

h2 a.link, h2 a:active.link, h2 a:visited.link {
  color: #06477c;
  text-decoration: underline;
}

/* POSTS - CONTENT */


h3 {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}
b, strong {
  font-weight: 700;
}
blockquote {
  margin: 0 18px 18px 18px;
  color: #666;
  padding-left: 10px;
  border-left: 4px solid #eee
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto
}
li {
  margin: 1em 0;
}
pre, code {
  font-family: 'SF Mono', 'Menlo', 'Source Code Pro', Monaco;
  background-color: #eee;
  overflow: auto;
  font-size: 11px;
  padding: 1em;
}
.permalink {
  color: #06477c;
}

/* Responsive design stuff */ 

@media (max-width: 680px) {
  section#posts {
    width: calc(100vw - 30px);
  }

  #mastheadbg {
    height: 190px;
    margin-bottom: -190px;
  }
  #masthead {
    height: 190px;
  }
}
@media (max-width: 520px) {
  body {
    font-size: 1em;
  }

  #masthead {
    width: 100%;
    font-size: 1.1em;
  }

  #masthead h1 {
    padding-top: 0.25em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  #mastheadbg {
    height: 165px;
    margin-bottom: -165px;
  }

  #masthead {
    height: 165px;
  }
}
@media (max-width: 360px) {
  #masthead {
    font-size: 1em;
  }
}
@media print {
  a {
    color: #888;
  }

  #masthead {
    color: #888;
  }

  #mastheadbg, nav, #masthead nav, .noprint {
    display: none;
  }

  .printonly {
    display: inline
  }

  #masthead {
    width: 100%;
    height: auto;
  }

  #masthead h1 {
    margin: 0;
    font-size: 1.5em;
    color: #444
  }

  #description {
    font-size: 10pt
  }

  body {
    width: auto;
    max-width: 125em;
    padding: 0;
    margin: 0 auto;
    color: #000;
    border: 0
  }

  section#posts {
    position: static;
    margin: 0;
    width: 100%
  }

  article {
    margin-top: 2em
  }

  #masthead a, #masthead a:active, #masthead a:visited, #masthead h1 a, #masthead h1 a:active, #masthead h1 a:visited, a, a:active, a:visted {
    color: #888
  }

  footer p {
    display: none
  }

  footer p:nth-child(2) {
    display: block
  }
}
