
@import "colors/photon-colors";

body {
  color: $grey-90;
  background-color: $grey-10;
}

a,
a:active,
a:visited {
  color: $blue-50;
  text-decoration: none;
}

a:hover {
  color: $blue-40;
  text-decoration: underline;
}

a:active {
  color: $blue-60;
}

section#content,
footer#contentinfo {
  background-color: $white-100;
}

#banner {
  background-color: $white-100;
  a.site-name {
    color: $grey-90;
  }
}

#menu,
#menu li ul{
  background-color: $grey-20;
}

#menu a,
#menu a:link,
#menu a:visited {
  color: $grey-90;
}

#menu a:hover {
  background-color: $grey-30;
}

.discontinued {
  color: $grey-10;
  background-color: $red-60;
}

.success {
  color: $grey-10;
  background-color: $green-50;
}

.caution {
  color: $grey-10;
  background-color: $yellow-60;
}

.info {
  color: $grey-10;
  background-color: $blue-60;
}

.aside {
  background-color: $grey-20;
}

blockquote {
  background: $grey-20;
  margin: 1em;
  padding: 1em;
}

.no-print {
  color: $grey-50;
}

article header {
  color: $grey-50;
}

h2 {
  a {
    &.post, &:active.post, &:visited.post {
      color: $grey-90-a90;
    }

    &:hover.post {
      color: $grey-50;
    }
  }
}

a.permalink {
  &:hover {
    color: $grey-90-a90;
  }
}

code {
  color: $grey-70;
}

pre.code-snippet {
  color: $grey-10;
  background: $grey-90;
}
