@import "colors/photon-colors";

/* :root {
  color-scheme: light dark;
  --background-color: $grey-20
  --text-color: $grey-90;
  --link-visited-color: $grey-90;
  --headers-color: $grey-90;
  --banner-color: $grey-90;
  --blockquote-color: #fffffe;
  --blockquote-background-color: #333;
  --blockquote-link-visited-color: #fffffe;
  --pre-code-snippet-color: #fffffe;
  --pre-code-snipper-background-color: #333;
  --orange: #FF5200;
  --white: $white-100;
} */

@media (prefers-color-scheme: light) {

  body {
    color: $grey-90;
    background: $grey-20;
  }

  .content {
    background-color: $white-100;
  }

  a,
  a:active,
  a:visited {
    /* color: var(--link-visited-color); */
    color: $blue-50;
    text-decoration: underline;
    &:hover {
      color: $blue-70;
    }
  }

  .banner {
    a.logo {
      color: $grey-90;
    }
  }

  nav,
  nav ul li {
    background-color: $grey-10;
  }

  nav a,
  nav a:link,
  nav a:visited {
    color: $grey-90;
  }

  nav a:hover {
    background-color: $grey-30;
  }

  .aside {
    background-color: $grey-20;
  }

  blockquote {
    color: var($blockquote-color);
    background-color: var($blockquote-background-color);

    a, a:active, a:visited {
      color: var($blockquote-link-visited-color);
    }
  }

  .no-print {
    color: $grey-50;
  }

  article header {
    color: $grey-50;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headers-color)
  } */
  h2 {
    a {
      &.post-link, &:active.post-link, &:visited.post-link {
        color: $grey-90-a90;
      }

      &:hover.post-link {
        color: $grey-50;
      }
    }
  }

  a.permalink {
    &:hover {
      color: $grey-90-a90;
    }
  }

  /* .banner {
    a.logo {
      color: var(--banner-color);
    }
    a:hover {
      color: var(--orange);
    }
  } */

  code {
    color: $grey-70;
  }

  pre.code-snippet {
    color: var($pre-code-snippet-color);
    background-color: var($pre-code-snippet-background-color);
  }

  footer {
    color: $grey-90;
  }
}

@media (prefers-color-scheme: dark) {
/*   :root {
    --background-color: #1E1E1E;
    --text-color: #fffffe;
    --link-visited-color: #fffffe;
    --headers-color: #fffffe;
    --banner-color: #fffffe;
  } */

  body {
    color: $grey-20;
    background: $grey-80;
  }

  .content {
    background-color: $grey-60;
  }

  a,
  a:active,
  a:visited {
    /* color: var(--link-visited-color); */
    color: $orange-50;
    text-decoration: underline;
    &:hover {
      color: $orange-70;
    }
  }

  .banner {
    a.logo {
      color: $grey-20;
    }
  }

  nav,
  nav ul li {
    background-color: $grey-50;
  }

  nav a,
  nav a:link,
  nav a:visited {
    color: $grey-20;
  }

  nav a:hover {
    background-color: $grey-30;
  }

  .aside {
    background-color: $grey-20;
  }

  blockquote {
    color: var($blockquote-color);
    background-color: var($blockquote-background-color);

    a, a:active, a:visited {
      color: var($blockquote-link-visited-color);
    }
  }

  .no-print {
    color: $grey-50;
  }

  article header {
    color: $grey-50;
  }

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headers-color)
  } */
  h2 {
    a {
      &.post-link, &:active.post-link, &:visited.post-link {
        color: $grey-90-a90;
      }

      &:hover.post-link {
        color: $grey-50;
      }
    }
  }

  a.permalink {
    &:hover {
      color: $grey-90-a90;
    }
  }

  /* .banner {
    a.logo {
      color: var(--banner-color);
    }
    a:hover {
      color: var(--orange);
    }
  } */

  code {
    color: $grey-70;
  }

  pre.code-snippet {
    color: var($pre-code-snippet-color);
    background-color: var($pre-code-snippet-background-color);
  }

  footer {
    color: $grey-20;
  }
}
