body {
  color: #333333;
  background-color: #eee;
}

a,
a:active,
a:visited {
  color: #22735B;
  text-decoration: underline;
}

.banner {
  a.logo {
    color: #73233B;
  }
}

blockquote {
  color: #ffffff;
  background-color: #22735B;
}

code,
pre.code-snippet {
  color: #73233B;
  background: #fff;
}
