body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo,
h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.small {
  font-variant: small-caps;
}

code,
code *,
pre,
pre * {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

footer {
  font-size: 0.5em;
  font-weight: 700;
}
