body {
  font-family: "Source Sans Pro", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.banner {

  a.logo {
    font-family: "Helvetica"
  }
}

code,
code *,
pre,
pre * {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
