header,
section,
footer,
aside,
article,
figure {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1.25;
}

blockquote,
pre,
pre *,
code,
code * {
  font-size: 95%
}

.404 {
  text-align: center;
}

ul,
ol {
  padding-left: 2em
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

canvas,
img,
video,
iframe {
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-size: 17px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  text-rendering: optimizeLegibility
}

.banner,
.content,
footer {
  max-width: 40em;
  min-width: 15em;
  margin: 0 auto;
  clear: both;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

.banner {
  height: 1em;
  padding: 1em 2em;
  text-transform: capitalize;

  a.logo {
    margin-top: 1.5em;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: 700;
  }
}

.content {
  padding: 0 2.5em;
}

p,
blockquote,
hr,
ul,
ol,
li {
  margin-bottom: .75em;
  margin-top: .75em
}

hr {
  width: 25%;
  margin-left: auto;
  margin-right: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5em;
  margin-top: .5em;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin: 1em 0 1em;
}

h4 {
  font-size: 1em;
  margin: 0;
}

b,
strong {
  font-weight: 600;
}

blockquote {
  padding: 1em;
}

img,
picture {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

pre.code-snippet {
  border-radius: 0.5em;
  padding: 1em;
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1em;
}

pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  overflow: auto;
}

@media(max-width: 55em) {
  .banner {
    margin: 0
  }
}

@media(max-width: 550px) {
  .banner {
    padding: 20px;
    margin: 0
  }
  .content {
    padding: 0 20px
  }
}

@media(max-width: 350px) {
  body {
    font-size: 15px;
  }
  .banner a.logo {
    font-size: 1.3em
  }
  .banner {
    height: 2em
  }
}
