$gray: #888;
$grey: #656D78;
$green: #26820f;
$black: #000000;
$black-grey: #1A1D20;
$neven-purple: #8367c9;
$navy-blue: #244C65;
$light-gray: #738B99;
$sublime-gray: #323a43;
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$ui-01: #ffffff;
$ui-02: #f5f7fa;
$ui-03: #f0f3f6;
$ui-04: #dfe3e6;
$ui-05: #8c9ba5;
$text-01: #152934;
$text-02: #5a6872;
$text-03: #5a6872;
$inverse-01: #ffffff;
$slate: #172B4D;
$blue: #0052CC;
$field-01: rgba(60,112,178,0.10);
$support-01: #e71d32;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;
$nav-01: #1b2834;
$nav-02: #1c496d;
