<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="Personal website of George Perez-Marrero.">
  <link type="application/atom+xml" rel="alternate" href="http://georgeperezmarrero.com/feed.xml" title="George Perez-Marrero">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-precomposed.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <div id="mastheadbg">&nbsp;</div>
  <section id="posts">
    <div id="masthead">
      <h1><a href="/">George Perez-Marrero</a></h1>
        <div>
          <p id="description">
            {{ site.description }}
          </p>
          <nav>
            <a href="/about">About</a>
            &bull;
            <a href="https://github.com/georgeperez/">GitHub</a>
            &bull;
            <a href="https://twitter.com/georgeperez">Twitter</a>
            &bull;
            <a href="mailto:{{ site.email }}">Email</a>
          </nav>
        </div>
    </div><!--masthead-->

    <div class="content">
      {{ content }}
    </div>

    {% include footer.html %}
  </section><!--posts-->
  {% include analytics.html %}
</body>
</html>
