<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>George Perez-Marrero</title>
  <meta name="description" content="Not the comic book artist. CS undergrad at UPRM." />
  <meta name="keywords" content="ios programmer, programmer, developer">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#182536">
  <link rel="apple-touch-icon" href="assets/images/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/images/apple-touch-icon-precomposed.png">

  <meta property="og:title" content="George Perez-Marrero" />
  <meta property="og:url" content="https://george.perez-marrero/" />
  <meta property="og:image" content="https://george.perez-marrero.com/assets/images/hero.png" />
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="576" />
  <meta property="og:description" content="Not the comic book artist. CS undergrad at UPRM." />
  
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@georgeperez" />
  <meta name="twitter:title" content="George Perez-Marrero" />
  <meta name="twitter:description" content="Not the comic book artist. CS undergrad at UPRM." />
  <meta name="twitter:image" content="https://george.perez-marrero.com/assets/images/hero.png" />
</head>
<body>
  <section id="posts">
  {% include header.html %}
  <div class="content">
    {{ content }}
  </div>
  {% include footer.html %}
  </section><!--posts-->
  {% include analytics.html %}
</body>
</html>
