---
layout: default
---
<article>
<h1>Articles publised in {{ page.date | date: "%B %Y" }}</h1>

<ul class="archive-posts">
{% for post in page.posts %}
  <li>
    <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
</article>

<ul class="post-list">
{% assign posts = site.posts %}
{% for post in posts %}
  {% assign current_date = post.date | date: "%B %Y" %}
  {% if current_date != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    {% unless forloop.first %}</li>{% endunless %}
    <li>
    <time class="post-meta" datetime="{{ current_date | date: "%Y-%m" }}">{{ current_date | date: "%B %Y" }}</time>
    <ul class="post-sublist">
    {% assign date = current_date %}
  {% endif %}
    <li>
      <article>
        <h1>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h1>
      </article>
    </li>
  {% if forloop.last %}</ul></li>{% endif %}
{% endfor %}
</ul>

<ul>
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %Y" %}
  {% if currentdate != date %}
    <li id="y{{currentdate}}">{{ currentdate }}</li>
    {% assign date = currentdate %} 
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>