---
layout: default
---
<article>
{% if page.external-url %}
    <header>
      <h2>
        <a class="linkpost" href="{{ page.external-url }}" target="_blank">{{ page.title }}</a>
      </h2>
      <p class="meta"><span class="postdate">{{ page.date | date:"%B %-d, %Y" }}</span> &bull; <a class="anchor" href="{{ page.url }}" title="Permalink">&sect;</a></p>
    </header>
{% else %}
    <header>
      <h2>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </h2>
      <p class="meta"><span class="postdate">{{ page.date | date:"%B %-d, %Y" }}</span> &bull; <a class="anchor" href="{{ page.url }}" title="Permalink">&sect;</a></p>
    </header>
{% endif %}

  {{ content }}

  </article>

  <div class="theend">&#8523;</div>
