---
---

@import "colors";

ul {
    list-style-type: none;
}

ol {
    list-style: none;
}

ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

ol:before {
    content: "•"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: $black-grey; /* Or a color you prefer */
}
